name: Cron Task

on:
  push:
  schedule:
    - cron: "*/10 * * * *"

jobs:
  build:
    name: Update Profile
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'

      - name: Check out code
        uses: actions/checkout@v6

      - name: Run
        run: |
          go run update.go

      - name: Update sponsors.svg
        run: |
          cd sponsorkit
          npm install
          npm run build
          mv -f ./sponsorkit/sponsors.svg ../sponsors.svg
        env:
          SPONSORKIT_GITHUB_TOKEN: ${{ secrets.SPONSORKIT_GITHUB_TOKEN }}
          SPONSORKIT_GITHUB_LOGIN: wuhan005

      - name: Git Commit
        run: |
          git config --local user.email "bot@github.red"
          git config --local user.name "Eggplant Bot"
          git add README.md sponsors.svg
          git commit -m "Update README.md - [Skip GitHub Action]" || true

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: master
